<%- include('../partials/header') -%>
<style>
  .fromadmin {
    margin: 40px;
    padding: 10px;
  }

  .titulo {
    font-size: 15px;
  }

  .boton {
    position: right;
  }
</style>

<div class="fromadmin">
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Nombre de la actividad</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Actividad">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Inicio de la actividad</label>
      
      <input size="16" type="text" class="form-control" id="datepicker" readonly>
      
      <script type="text/javascript">
        $("#datetime").datetimepicker({
            format: 'yyyy-mm-dd hh:ii'
        });
        </script>



    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Aunares</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Descripción de la actividad</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
  <button class="btn btn-primary" onclick="alerta()"  >Registrarme</button>
</div>

<br><br>

 
<script>
  $( function() {
 $( "#datepicker" ).datepicker({
   format: "dd/mm/yyyy",
   numberOfMonths: 1,
   showButtonPanel: false
 });
} );
     
  function alerta(){
  Swal.fire({
  title: 'Deseo registrarme en esta actividad?',
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Aceptar'
}).then((result) => {
if (result.isConfirmed) {
  Swal.fire(
    'Registrado!',
    'Estas registrado en una actividad',
    'success'
  )
}
}) }
      </script>


<%- include('../partials/footer') -%>