</div>
</body>

<footer>
    <div class="center">
        <p align = "center">
            &copy; Facultad de Ing. Inform치tica || Corporaci칩n Universitaria Aut칩noma de Nari침o || Copyright 
        </p>
    </div>
</footer>
</html>