<%- include('partials/header') -%>


<div class="container mt-4 align-items-center justify-content-center">

    <h1 class="display-5">Bienvenidos a Moneda AUNAR!</h1>

<div class="jumbotron jumbotron-fluid">
    <div class="row justify-content-md-center activities">
        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5><span class="badge badge-success points">3</span></h5>
                    <h5 class="card-title">Retos virtuales actividad física</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link"><i class="fa fa-plus" aria-hidden="true"></i> Registrarse</a>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5><span class="badge badge-success points">5</span></h5>
                    <h5 class="card-title">Foro "experiencias artísticas"</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link"><i class="fa fa-plus" aria-hidden="true"></i> Registrarse</a>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5><span class="badge badge-success points">3</span></h5>
                    <h5 class="card-title">Retos deportivos  en casa </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link"><i class="fa fa-plus" aria-hidden="true"></i> Registrarse</a>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5><span class="badge badge-success points">3</span></h5>
                    <h5 class="card-title">En movimiento "reto de danza"</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link"><i class="fa fa-plus" aria-hidden="true"></i> Registrarse</a>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5><span class="badge badge-success points">10</span></h5>
                    <h5 class="card-title">Concurso de fotografía virtual</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link"><i class="fa fa-plus" aria-hidden="true"></i> Registrarse</a>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5><span class="badge badge-success points">5</span></h5>
                    <h5 class="card-title">Charlas enfermedades respiratorias (asma)</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link"><i class="fa fa-plus" aria-hidden="true"></i> Registrarse</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
<%- include('partials/footer') -%>
